body {
    background-image: url('inicio.jpg');
    background-position: center;
    background-size: cover;  
    background-repeat: no-repeat; 
}
input{
    width: 300px;
    margin-top: 15px;
}

.form{
    max-width: 500px;
    margin-top: 100px;
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100%;
    border: solid;
    padding-bottom: 55px;
   border-radius: 10px;
   background-color: white;
   border-color: white;
    
}
i{
    
    color: white;
}
a{
    all: unset;

}
a:first-child{
    
    color: white;
}
li{
    list-style: none;
}

  
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .navbar-brand {
    font-size: 1.75rem; /* Aumenta el tamaño de la fuente del logo */
  }
  
  .navbar-nav .nav-link {
    font-size: 1.2rem; /* Aumenta el tamaño de la fuente de los enlaces */
  }
  
  .navbar-toggler {
    font-size: 1.5rem; /* Aumenta el tamaño del ícono de menú */
  }
  
  .navbar .navbar-toggler-icon {
    background-color: #000; /* Cambia el color del ícono de menú */
  }